.conteiner-father{
    width: 100%;
    height: 100vh;
    display: flex;
}

.conteiner-Register-1{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteiner-Register-2{
    width: 50%;
    height: 100%;
}

.conteiner-Register-2 form{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.us{
    width: 90%;
    height: auto;
}

.titulo-c{
    font-size: 1.7em;
    font-weight: bold;
}

.descripcion-c{
    text-align: justify;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.formulario-A{
    width: 80%;
    height: 80%;
    border-radius: 30px;
    background-color: #2ACD53;
    box-shadow: 3px 3px 6px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario-B{
    width: 90%;
    height: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 32px;
    grid-template-rows: repeat(7, 6fr);
}

.formulario-B p{
    font-weight: bold;
    font-size: 1.2em;
    display: flex;
    justify-content: start;
    align-items: center;
    grid-column-start: 1;
}

.formulario-B input{
    grid-column-start: 2;
    grid-column-end: 5;
    font-size: 1em;
    border-radius: 15px;
    outline: none;
    border: none;
}

.formulario-B input:focus{
    border: 1px black solid;
    transition: all 0.5s;
}

.formulario-B button{
    width: 80%;
    margin-left: 10%;
    border-radius: 30px;
    background-color: #252323;
    color: white;
    border: none;
    box-shadow: 2px 2px black;
    position: relative;
    transition: all 0.5s;
}

.formulario-B button:active{
    top: 2px;
    box-shadow: none;
    transition: all 0.5s;
}

.RegisterBus{
    grid-column-start: 1;
    grid-column-end: 3;
}

.LoginBus{
    grid-column-start: 3;
    grid-column-end: 5;
}