.back-modal{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.front-modal{
    width: 40%;
    height: 60%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 3px 3px 3px black;
    background-color: #2ACD53;
}