h3{
    text-align: center;
}

.table{
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}

.table td, .table th{
  padding: 1px;
}

.table-group-dividier tr:hover {
  background-color: #252525;
  color: #e9e9e9;
  cursor: pointer;
}

.reservations-item tr:hover{
  border-top:1px black solid;
  border-bottom:1px black solid;
}

.table thead{
  background-color: #2ACD53;
}

.table th{
 padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  text-align: center;
  color: #252525;
  border-bottom: #252525 ;
}

.table tbody{
  background-color: #e9e9e9;
  
}
.reservacion{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
      background-color:black;
}
.rc{
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  overflow-Y: scroll;
  border: 5px solid #e9e9e9;

}

.acept-reservation{
  width: 20%;
  margin-left: 40%;
  height: 30px;
  border-radius: 30px;
  border: none;
  background-color: #2ACD53;
  font-size: 1.2em;
  cursor: pointer;
}



